{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Call</title>
    <link href="https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap" rel="stylesheet"> 
    <link href="{% static 'css/vc.css' %}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
</head>
<body>
    <div class="app-container">
        <button class="mode-switch">
            <svg class="sun" fill="none" stroke="#fbb046" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-sun" viewBox="0 0 24 24"><defs/><circle cx="12" cy="12" r="5"/><path d="M12 1v2M12 21v2M4.22 4.22l1.42 1.42M18.36 18.36l1.42 1.42M1 12h2M21 12h2M4.22 19.78l1.42-1.42M18.36 5.64l1.42-1.42"/></svg>
        <svg class="moon" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-moon" viewBox="0 0 24 24"><defs/><path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"/></svg>
            </button>
        <div class="app-main">
            <div class="video-call-wrapper">
            <div class="video-participant">
                <div class="participant-actions">
                <button class="btn-mute"></button>
                <button class="btn-camera"></button>
                </div>
                <a href="#" class="name-tag">Emmy Lou</a>
                <img src="https://images.unsplash.com/photo-1500917293891-ef795e70e1f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="participant">
            </div>
            
            </div>
            <div class="video-call-actions ">
            <button class="video-action-button mic" id="mute"><i class="bi bi-mic"></i></button>
            <button class="video-action-button camera" id="off-camera"><i class="bi bi-camera-video"></i></button>
            <button class="video-action-button endcall" id="endcall"></button>
            
            <div class="video-participant-me">
                <video id="my-video" autoplay></video>
            </div>
            </div>
        </div>
    </div>

    
    <script src="{% static 'js/jquery.js' %}"></script>
    <!-- Core theme JS-->
    <script src="{% static 'js/vc.js' %}"></script>
</body>
</html>